$color-texto:black; 
$color-footer: #0c0b68;
$color-letrafooter: white;
$Color2: rgb(250, 179, 80);
$Color3: rgb(251, 224, 187);
$Color4: rgb(231, 184, 122);
$Color5: rgb(255, 255, 255);
$Color6: rgb(189, 189, 189);
