* {
  margin: 0%;
  padding: 0%;
}

.fondonav {
  background-image: -webkit-gradient(linear, right top, left top, from(#60bbf7), to(#00434e));
  background-image: linear-gradient(to left, #60bbf7, #00434e);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fondonav .img-redondo {
  border-radius: 50%;
  width: 70%;
  -webkit-animation-name: rotar_logo;
          animation-name: rotar_logo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@-webkit-keyframes rotar_logo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360);
            transform: rotateY(360);
  }
}

@keyframes rotar_logo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360);
            transform: rotateY(360);
  }
}

.fondonav .listasdesordenadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  grid-column-gap: 15px;
  text-align: center;
  margin-left: 130%;
  list-style-type: none;
}

.fondonav a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fondonav a:hover {
  color: #fff;
  text-decoration: underline;
}

.fondonav .menu-bar {
  display: none;
}

.caption-center {
  top: 40%;
}

.text-dark {
  -webkit-animation-name: backInDown;
          animation-name: backInDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

footer {
  display: -ms-grid;
  display: grid;
  background-color: #39AEA9;
      grid-template-areas: "seguinos redes contactate copyright";
  padding-top: 2%;
  padding-bottom: 2%;
}

footer .instagram {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: seguinos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer .instagram p {
  color: white;
}

footer .iconos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wp {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contactate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer .wp p {
  color: white;
}

footer .pie__copy {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: copyright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sacar-subrayado {
  text-decoration: none;
}

/*empieza la pagina de sobre nosotros*/
.FondoGris {
  background-image: url(../imagenes/backgorund.jpg);
}

video {
  width: 500px;
  height: 400px;
  margin: auto;
  padding-bottom: 30px;
}

.main_nosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "quienessomos1" "quienessomos2" "video";
}

.div_nosotros1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: quienessomos1;
}

.div_nosotros2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: quienessomos2;
}

/*Agregando un map*/
.Titulos {
  font-family: fantasy;
  font-weight: 500;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.lorem {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5%;
  color: #302c2c;
  font-size: 20px;
}

/*empieza la pagina de servicios*/
.main_servicios {
  display: -ms-grid;
  display: grid;
  justify-items: center;
      grid-template-areas: "titulo titulo" "foto1 foto2" "foto3 foto4";
}

.Tituloservicios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}

.Tituloservicioh1 {
  text-align: center;
  font-family: fantasy;
  padding-top: 5%;
  -webkit-animation-name: hinge;
          animation-name: hinge;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.ImagenServicio {
  width: 80%;
}

.foto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto1;
  padding: 10%;
  font-family: fantasy;
  cursor: pointer;
}

.foto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto2;
  padding: 10%;
  font-family: fantasy;
}

.foto3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto3;
  font-family: fantasy;
}

.foto4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foto4;
  padding-bottom: 20%;
  font-family: fantasy;
}

.boton {
  display: inline-block;
  padding: 12px 25px;
  background-color: black;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.boton:hover {
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  color: black;
}

.boton_texto {
  color: white;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*empieza la pagina de galeria*/
.main_galeria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo " "Contenedorgaleria1" "ContenedorGaleria2" "ContenedorGaleria3";
}

.TituloGaleria {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
  font-family: fantasy;
  padding: 20px;
}

/*Agregando mixin*/
.ContenedorGaleria1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Contenedorgaleria1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkolivegreen;
}

.ContenedorGaleria2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ContenedorGaleria2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkolivegreen;
}

.ContenedorGaleria3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: ContenedorGaleria3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkolivegreen;
}

/*Agregando @extend*/
.img2, .img1, .img3, .img4, .img9, .img10 {
  width: 30%;
  margin-bottom: 20px;
}
/*# sourceMappingURL=estilos.css.map */