.caption-center{
    top: 40%;
}
.rounded-circle{
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}
.navbar{
    background-image: linear-gradient(to left, rgb(96, 187, 247), rgb(0, 67, 78)); !important
}

@keyframes rotar_logo {
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
    }

    100%{
        transform: rotateY(360);
    }
    
}

.text-dark{
    animation-name: backInDown;
    animation-duration: 3s;
}
.navbar-nav a:hover{
    color: #fff;!important
}
footer{
    display: grid;
    background-color: #39AEA9; 
    grid-template-areas: "seguinos redes contactate copyright";
    padding-top: 2%;
    padding-bottom: 2%;

    }

    footer .instagram{
        grid-area: seguinos;
        display: flex;
        justify-content: center;

    }

    footer .iconos{
        grid-area: redes;
        display: flex;
    justify-content: center;
    }

    .iconos2{
        display: flex;

    }
    .sacar-subrayado{
        text-decoration: none;
    }
    footer .wp{
        grid-area: contactate;
        display: flex;
    justify-content: center;

    }

    footer .pie__copy{
        grid-area: copyright;
        display: flex;
    justify-content: center;

    }
    .instagram {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        animation-name: flash;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    
    }
    .instagram p{
        color: white;
    }
     
    .wp { 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        animation-name: flash;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        }
    .wp p{
        color: white;
    }
 /*empieza la pagina de sobre nosotros*/

 .fondonav{
    background-image: linear-gradient(to left, rgb(96, 187, 247), rgb(0, 67, 78));
  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.fondonav .img-redondo{
    border-radius: 50%;
    width: 70%;
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes rotar_logo {
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
    }

    100%{
        transform: rotateY(360);
    }
    
}


.fondonav .img-redondo{
    grid-column: 2 / 3;
}
.fondonav .navhome .listasdesordenadas { 
    display: flex;
    /*grid-column: 7 / 8;*/ /*NO ME DEJA MOVER CON GRID*/
    font-size: 20px;
    grid-column-gap: 15px;
    text-align: center;
    /*por eso lo hago con margin*/
    margin-left: 130%;
}

.fondonav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .fondonav a:hover {
    color: #fff;
    text-decoration: underline;
  }
.fondonav .menu-bar {
    display: none;
  }

.FondoGris{
        background-image: url(../imagenes/backgorund.jpg);
    } 
    
    video{
        width: 500px;
        height: 400px;
        margin: auto;
        
    }

    .main_nosotros{

        display: grid;
        grid-template-areas: "video quienessomos1"
                            "video quienessomos2";

    }

    video{
        grid-area: video;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .div_nosotros1{
        grid-area: quienessomos1;

    }
    .div_nosotros2{
        grid-area: quienessomos2;
   
    }
    .Titulos{
        font-family: fantasy;
        font-weight: 500;
        text-align: center;
        animation-name: fadeInLeft;
        animation-duration: 3s;
    }
    
    
.lorem{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5%;
    color: rgb(48, 44, 44);
    font-size: 20px;
    
}
/*empieza la pagina de servicios*/

.main_servicios{
    display: grid;
    justify-items: center;
    grid row-gap: 15px;
    grid-template-areas:"titulo titulo"
                        "foto1 foto2"
                        "foto3 foto4";
}

.Tituloservicios{
    grid-area: titulo;
    

}
.Tituloservicioh1{
    text-align: center;
    font-family: fantasy;
    padding-top: 5%;
    animation-name: hinge;
    animation-duration: 5s;

    
}

.ImagenServicio{
    width: 80%;
}
   

.foto1{
    grid-area: foto1;
    padding: 10%;
    font-family: fantasy;
    cursor: pointer;
}
.foto2{
    grid-area: foto2;
    padding: 10%;
    font-family: fantasy;
    
}
.foto3{
    grid-area: foto3;
    font-family: fantasy;
    
}
.foto4{
    grid-area: foto4;
    padding-bottom: 20%;
    font-family: fantasy;
    
}

.boton{
    display: inline-block;
    padding: 12px 25px;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10%;
    transition: all 3s;
}
.boton:hover{
    transform: translate(-10px);
    color: black;
}



.boton_texto{
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*empieza la pagina de galeria*/
.main_galeria{
    display: grid;
    grid-template-areas:"titulo "
                        "Contenedorgaleria1"
                        "ContenedorGaleria2"
                        "ContenedorGaleria3"
                        ;
}
.TituloGaleria{
    grid-area: titulo;
    text-align: center;
    font-family: fantasy;
    padding: 20px;
}
.ContenedorGaleria1{
    grid-area: Contenedorgaleria1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkolivegreen;
    }
    .ContenedorGaleria2{
        grid-area: ContenedorGaleria2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkolivegreen;
    
    }
    .ContenedorGaleria3{
        grid-area: ContenedorGaleria3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkolivegreen;
    }
    


.img2{
    width: 30%;
    margin-bottom: 20px;
}

.img1{
    width: 30%;
    margin-bottom: 20px;
}
.img3{
    width: 30%;
    margin-bottom: 20px;
}
.img4{
    width: 30%;
    margin-bottom: 20px;
}
.img9{
    width: 30%;
    margin-bottom: 20px;
}

.img10{
    width: 30%;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    footer .pie__copy{
        display: none;
    }

}

/*media queries de sobre nosotros*/

 @media (min-width:601px) and (max-width:1024px){
    .main_nosotros{

        display: grid;
        grid-template-areas: "video "
                            "video"
                            "quienessomos1"
                            "quienessomos2";

    }

    /*mediaqueries de servicios*/
    .main_servicios{
        display: grid;
        grid-template-areas:"titulo"
                            "foto1"
                            "foto2"
                            "foto3"
                            "foto4";
                            
    }
}







